#!/bin/bash

refresh_token="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlR3bjV2bmNQUHhYNmprc2w5SUYyNn1234567899.eyJpc3MiOiJodHRwczovL2F1dGgudGVzbGEuY29tL29hdXRoMi92MyIsImF1ZCI6Imh0dHBzOi8vYXV0aC50ZXNsYS5jb20vb2F1dGgyL3YzL3Rva2VuIiwiaWF0IjoxNjQ5OTU0ODg2LCJzY3AiOlsib3BlbmlkIiwib2ZmbGluZV9hY2Nlc3MiXSwiZGF0YSI6eyJ2IjoiMSIsImF1ZCI6Imh0dHBzOi8vb3duZXItYXBpLnRlc2xhbW90b3JzLmNvbS8iLCJzdWIiOiJkYmQ5OTRiMy1lYWM5LTQyMTctYjgwYy01ZDMzOWM0MGE3ZTEiLCJzY3AiOlsib3BlbmlkIiwiZW1haWwiLCJvZmZsaW5lX2FjY2VzcyJdLCJhenAiOiJvd25lcmFwaSIsImFtciI6WyJwd2QiLCJtZmEiLCJvdHAiXSwiYXV0aF90aW1lIjoxNjQ5OTU0ODg1fX0.f9g77ffub0hUx9ArIlU4py_BWp88qNN3ZnrW8BfEMMivrHCvCpGg_q6iq8oMLoqNrYtUrgTe1XkDTzZzTdx8G6Z3c8nF9Ap1H8xN0vV8v3yqoNcKrRbv3Gqwolw15x50wuoo64GnSRJowf7SpeszB_7oyqufmYSnLpyjDRP8Lf0skKiyENzZrdJEq3NRzr4MdpNNILQ3ipPehCPa_KI_42-5Gg3mWGQP8nq4c7J24HFMLn7o6yCah9bJz9u471-hd0wQDmXIDIScx5pbsC1EXalxn0KwmPFx-VGIY5NaWgW4IYW4TSLwLSi_LCOBVrNPFQGZ5O-G42bX89fEVQ8fRg"

tesla_vehicle_id='1234567899938719'
